if TARGET_MX6UL_VAR_DART

config SYS_BOARD
	default "mx6ul_var_dart"

config SYS_VENDOR
	default "variscite"

config SYS_CONFIG_NAME
	default "mx6ul_var_dart"

config ENV_SIZE
	default 0x4000

config ENV_OFFSET
	default 0x20000

endif
